<ion-view view-title="Playlists">
    <ion-content>
        <div class="padding">
            <h4>Calm</h4>
            <ion-rate maximum="maximumRate" rate="rate" color="color" select-star="selectedStar(rating)"></ion-rate>
        </div>
        <div class="padding">
            <h4>Positive</h4>
            <ion-rate maximum="maximumRate" rate="rate" color="'positive'" select-star="selectedStar(rating)"></ion-rate>
        </div>
        <div class="padding">
            <h4>Balanced</h4>
            <ion-rate maximum="maximumRate" rate="rate" color="'balanced'" select-star="selectedStar(rating)"></ion-rate>
        </div>
        <div class="padding">
            <h4>Energized</h4>
            <ion-rate maximum="maximumRate" rate="rate" color="'energized'" select-star="selectedStar(rating)"></ion-rate>
        </div>
        <div class="padding">
            <h4>Assertive</h4>
            <ion-rate maximum="maximumRate" rate="rate" color="'assertive'" select-star="selectedStar(rating)"></ion-rate>
        </div>
        <div class="padding">
            <h4>Royal</h4>
            <ion-rate maximum="maximumRate" rate="rate" color="'royal'" select-star="selectedStar(rating)"></ion-rate>
        </div>
        <div class="padding">
            <h4>Dark</h4>
            <ion-rate maximum="maximumRate" rate="rate" color="'dark'" select-star="selectedStar(rating)"></ion-rate>
        </div>
    </ion-content>
</ion-view>
